body{

background-color: rgb(87, 151, 194);
padding: 100px 100px 100px 500px;

}

.txt{ color: rgb(0, 0, 0);
-webkit-text-stroke: 1px black;
font-size: 50px;}

.conteiner{
    display: flex;
    padding: 20px;
background-color: rgb(174, 217, 255);
justify-content: center;
align-items: center;
width: 900px;
border-radius: 10px;
box-shadow: black 0px 0px 10px;
margin-top: 20px;
display: block;
}

.quest{
 background-color: aliceblue;
width: 500px;
box-shadow: black 0px 0px 10px;}

.logo{

    width: 200px;
    height: auto;
    background-color: azure;
   border-radius: 10px;
   box-shadow: black 0px 0px 10px;
}

